<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GMAlertView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F4CD51071D44C90C00AF34D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4CD51201D44C90D00AF34D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4CD512B1D44C90D00AF34D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
